body {
  background-color: #4d85e6;
  font-family: 'Gill Sans Extrabold', sans-serif;

}

h1 {
  color: #ffffff;
}
p {
  color: #ffffff;
}


.header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 200px;
}


/* Text area */
.grey-border-focus .form-control:focus {
    border: 2px solid rgba(0, 142, 207, 0.589);
}

footer {
  background-color: #112247;
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px;
}

.centered {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 20px;
}

a {
  color: white;
}

a:hover {
  color: lightgrey;
}
