body {
  background-color: #4d85e6;
  font-family: 'Readex Pro', sans-serif;

}

h1, h2, h3, p {
  color: #feffff;
}
h3 {
  margin: 30px;
}


.header {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px; 
  padding-top: 10px;
  padding-bottom: 10px;

}

.centered {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 20px;
}


footer {
  background-color: #112247;
  height: 80px;
  width: 100%;
  padding: 12px; 
  position: fixed;
  left: 0;
  bottom: 0;

}

a {
  color: white;
}

a:hover {
  color: lightgrey;
}
